# Byte-compiled / optimized
__pycache__/

# Distribution / packaging
*.egg-info/

# Pyre type checker
.pyre/

# Vim tmp files:
*~
*.swp
*.swo

# Environments
.env
.venv
env/
venv/

# Foundry build files
cache/
out/
