name: Test

on:
  push:
    branches: [main, chore-workflows]
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      halmos-options:
        description: "additional halmos options"
        required: false
        type: string
        default: ""
      pytest-options:
        description: "additional pytest options"
        required: false
        type: string
        default: ""

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: ["macos-latest", "ubuntu-latest", "windows-latest"]
        python-version: ["3.11", "3.12"]
        storage-layout: ["solidity", "generic"]
        cache-solver: ["", "--cache-solver"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Install foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-dev.txt

      - name: Install halmos
        run: python -m pip install -e .

      - name: Run pytest
        run: |
          pytest -v --ignore=tests/lib --ignore=tests/test_halmos.py --ignore=tests/test_traces.py ${{ inputs.pytest-options }}
          python tests/test_halmos.py tests/regression --halmos-options="-st --solver-threads 1 --storage-layout ${{ matrix.storage-layout }} ${{ matrix.cache-solver }} --solver-timeout-assertion 0 ${{ inputs.halmos-options }}"
