name: Test long

on:
  push:
    branches: [main, chore-workflows]
    paths:
      - .github/workflows/test-long.yml
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - testname: "tests/solver"
          - testname: "examples/simple"
          - testname: "examples/tokens/ERC20"
          - testname: "examples/tokens/ERC721"

    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build image
        run: |
          docker build -t halmos . --file packages/halmos/Dockerfile

      - name: Run pytest
        run: |
          docker run -v .:/workspace --entrypoint pytest halmos -x -v tests/test_halmos.py -k ${{ matrix.testname }} --halmos-options='-v -st --solver-timeout-assertion 0 --solver-threads 6 --solver-command=yices-smt2' -s --log-cli-level=
