name: Test FFI

on:
  push:
    branches: [main, chore-workflows]
    paths:
      - .github/workflows/test-ffi.yml
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
        - testname: "tests/ffi"

    steps:
      # TODO: remove this step once halmos-builder package is public
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build image
        run: |
          docker build -t halmos-image . --file packages/halmos/Dockerfile

      - name: Run pytest
        run: docker run -v .:/workspace --entrypoint pytest halmos-image -v tests/test_halmos.py -k ${{ matrix.testname }} --halmos-options="--ffi -v -st --solver-timeout-assertion 0"
