name: Test external projects

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - repo: "morpho-org/morpho-data-structures"
            dir: "morpho-data-structures"
            cmd: "halmos --function testProve --loop 4 --symbolic-storage"
            branch: ""
          - repo: "a16z/cicada"
            dir: "cicada"
            cmd: "halmos --contract LibUint1024Test --function testProve --loop 256"
            branch: ""
          - repo: "a16z/cicada"
            dir: "cicada"
            cmd: "halmos --contract LibPrimeTest --function testProve --loop 256"
            branch: ""
          - repo: "farcasterxyz/contracts"
            dir: "farcaster-contracts"
            cmd: "halmos"
            branch: ""
          - repo: "zobront/halmos-solady"
            dir: "halmos-solady"
            cmd: "halmos --function testCheck"
            branch: ""

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: halmos
          # we won't be needing tests/lib for this workflow
          submodules: false

      - name: Checkout external repo
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.repo }}
          path: ${{ matrix.dir }}
          ref: ${{ matrix.branch }}
          submodules: recursive

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: docker build -t halmos . --file packages/halmos/Dockerfile
        working-directory: halmos

      - name: Test external repo
        run: docker run -v .:/workspace ${{ matrix.cmd }} --statistics --debug --solver-timeout-assertion 0 --solver-threads 4 --solver-command yices-smt2 --cache-solver
        working-directory: ${{ matrix.dir }}
